package ${packageName}.entity.vo;

import java.util.ArrayList;
import java.util.List;

public class PaginationResultVo<T> {
	private Integer totalCount;
	private Integer pageSize;
	private Integer pageNum;
	private Integer pageTotal;
	private List<T> list = new ArrayList<T>();

	public PaginationResultVo(Integer totalCount, Integer pageSize, Integer pageNum, List<T> list) {
		this.totalCount = totalCount;
		this.pageSize = pageSize;
		this.pageNum = pageNum;
		this.list = list;
	}

    public PaginationResultVo(Integer totalCount, Integer pageSize, Integer pageNum, Integer pageTotal, List<T> list) {
        if (pageNum == 0) {
            pageNum = 1;
        }
        this.totalCount = totalCount;
        this.pageSize = pageSize;
        this.pageNum = pageNum;
        this.pageTotal = pageTotal;
        this.list = list;
    }

	public PaginationResultVo(List<T> list) {
		this.list = list;
	}

	public PaginationResultVo() {

	}

	public Integer getTotalCount() {
		return totalCount;
	}

	public void setTotalCount(Integer totalCount) {
		this.totalCount = totalCount;
	}

	public Integer getPageSize() {
		return pageSize;
	}

	public void setPageSize(Integer pageSize) {
		this.pageSize = pageSize;
	}

	public Integer getPageNum() {
		return pageNum;
	}

	public void setPageNum(Integer pageNum) {
		this.pageNum = pageNum;
	}

	public List<T> getList() {
		return list;
	}

	public void setList(List<T> list) {
		this.list = list;
	}

	public Integer getPageTotal() {
        return pageTotal;
    }

    public void setPageTotal(Integer pageTotal) {
        this.pageTotal = pageTotal;
    }
}