package ${packageName}.service;

import java.util.List;
import ${packageName}.entity.po.${className};
import ${packageName}.entity.query.${className}Query;
import ${packageName}.entity.vo.PaginationResultVo;

public interface ${className}Service {

    /**
     * 根据条件查询列表
     */
    List<${className}> selectListByParam(${className}Query param);

    /**
     * 根据条件查询列表数量
     */
    Integer selectCountByParam(${className}Query param);

    /**
     * 分页查询
     */
    PaginationResultVo<${className}> selectListByPage(${className}Query param);

    /**
     * 新增
     */
    Integer insert(${className} bean);

    /**
     * 批量新增
     */
    Integer insertBatch(List<${className}> listBean);

#foreach($keyData in ${keyIndexMap.entrySet()})
    /**
     * 根据 #funName($keyData) 查询
     */
     ${className} selectBy#funName($keyData)(#parameterName2($keyData));

    /**
     * 根据 #funName($keyData) 修改
     */
    Integer updateBy#funName($keyData)($className bean,#parameterName2($keyData));

    /**
     * 根据 #funName($keyData) 删除
     */
    Integer deleteBy#funName($keyData)(#parameterName2($keyData));

#if($keyData.getValue().get(0).getAutoIncrementFlag())
    /**
     * 根据 #funName($keyData) 批量删除
     */
    Integer deleteBy#funName($keyData)Batch(List<Integer> list);
#end
#end
## 方法名称 如 IdAndNameAndAge
#macro(funName $keyData)
    #foreach($item in $keyData.getValue())$StringUtils.convertToCamelCase($item.propertyName)#if($foreach.index < $keyData.getValue().size() - 1)And#end#end
#end
## 参数名称 如 id,name,age
#macro(parameterName2 $keyData)
    #foreach($item in $keyData.getValue())$item.javaType $item.propertyName#if($foreach.index < $keyData.getValue().size() - 1),#end#end
#end
}